<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.insightech.er.popupMenus">
      <popupMenu
            class="org.insightech.er.extentions.sample.SampleActionFactory"
            path="Export">
      </popupMenu>
   </extension>

</plugin>
